@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900|Open+Sans:300,400,600,700');
body {
    font: 14px/24px Roboto, arial, helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #444;
    background-color: #f7f7f7;
}
p.link-hot .container {
    max-width: 1040px;
}
.widget-paling-atas {
    margin: 10px 0;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    max-width: 100%;
}
body>.container {
    background: #fff;
}
body>.container>.row.poster {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
body>.container>.row.poster>.col-sm-4 {
    background: #eee;
}
body>.container>.row:first-child>.col-sm-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}
body>.container>.row:first-child>.col-sm-8 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.atasnya {
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-weight: 700;
    z-index: 999;
    background: #01579B;
    color: #eee;
    box-shadow: 0 0 2px #585858;
}
li.adaMenu>a:after {
    content: "\f0d7";
    font-family: FontAwesome;
    margin-left: 5px;
}
.atasnya .left ul li ul {
    position: absolute;
    background: #01579B;
}
.atasnya .left ul li ul li {
    float: none;
}
.atasnya .left ul li ul li a {
    padding: 5px 10px 5px 15px;
    background: rgba(60, 60, 60, 0.16);
    width: 140px;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}
a:hover {
    text-decoration: none;
}
.the-chat {
    overflow: hidden;
    margin-bottom: 20px;
}
.the-chat>p {
    margin: 0 0 10px 10px;
}
.related-inner {
    padding: 0 10px;
}
.related-inner img {
    width: 100%;
}
.related {
    text-align: center;
    width: 33.333%;
    float: left;
}
.related-post {
    overflow: hidden;
    margin: 10px 0;
}
.gambar-product {
    width: 200px;
    float: left;
    margin-right: 10px;
}
.gambar-product .btn {
    border-radius: 0px;
    margin: 5px 0 0 0;
}
.gambar-product img {
    padding: 10px;
    background: #fff;
    box-shadow: 1px 1px 3px #DEDEDE;
}
p.related-title a {
    color: #333;
    font-size: 16px;
    padding: 10px 0;
    display: inline-block;
}
p.related-title {
    overflow: hidden;
    height: 56px;
    text-align: left;
    margin-bottom: 10px;
}
.navigasi-post {
    overflow: hidden;
    background: #F3434C;
    color: #fff;
}
.navigasi-post a {
    color: #fff;
    font-weight: bold;
    font-style: italic;
}
.navigasi-post .left {
    box-shadow: 1px 0 rgba(0, 0, 0, 0.09);
}
.navigasi-post .right {
    box-shadow: -1px 0 rgba(255, 255, 255, 0.13);
}
.navigasi-post>div:hover {
    background: rgba(0, 0, 0, 0.09);
}
.navigasi-post p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.navigasi-post .right,
.navigasi-post .left {
    width: 50%;
    text-align: center;
    padding: 0 15px;
}
a.hapus-chat {
    position: absolute;
    top: 0px;
    right: 5px;
    color: #C30404;
}
.kotak-chat {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
}
.kotak-chat:before {
    content: "\f0d8";
    font-family: fontawesome;
    position: absolute;
    top: -19px;
    left: 20px;
    color: #ccc;
    font-size: 21px;
}
.testimoni {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.group-list {
    padding: 10px;
    border-bottom: 1px dotted #ccc;
}
.group-list>h3 {
    font-family: Oswald;
    margin: 5px 0;
    font-size: 20px;
}
label#ngehide2 {
    display: block;
    float: left;
    font-size: 21px;
    font-weight: bold;
    padding: 5px 10px;
    background: #00a3ff;
    margin: 0px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.table.no-border td {
    border: 0px;
}
.widget.testimonial ul {
    padding: 0px;
    list-style: none;
}
i.fa.fa-star {
    color: #FFE100;
}
.widget {
    overflow: hidden;
}
.widget-body {
    margin-bottom: 20px;
}
.widget ul {
    list-style: square;
}
.widget ul,
.widget ol {
    padding-left: 20px;
}
.title-desc {
    font-size: 14px;
    color: #ccc;
    padding: 0 15px;
    font-family: Oswald;
    margin: 0px;
}
.icon-link {
    text-align: right;
}
.icon-link a {
    display: inline-block;
    padding: 0px;
    font-size: 13px;
    padding: 15px 0 15px 15px;
}
.atasnya .left ul li a,
.icon-link a {
    color: #fff;
}
.atasnya .left ul li a {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    padding: 15px 15px;
}
.icon-link a:hover,
.atasnya .left ul li a:hover {
    color: #FFEB3B;
}
.atasnya .left ul li {
    display: block;
    float: left;
}
.atasnya .left ul li ul {
    display: none;
}
.atasnya .left ul li:hover ul {
    display: block;
}
.atasnya .left ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.atasnya .left ul li.title a {
    color: #eee;
    padding: 15px 15px 15px 0;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
footer {
    background: #444;
    color: #fff;
    overflow: hidden;
    font-size: 12px;
    border-top: 5px solid #01579B;
}
.kumpulan-kategori ul li {
    display: inline-block;
    font-size: 14px;
    margin: 10px 10px 10px 0;
    text-transform: uppercase;
}
.kumpulan-kategori ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.kumpulan-kategori ul li a {
    color: #FFEB3B;
}
.kumpulan-page p {
    margin: 0px;
}
.kumpulan-page {
    background: #1e1923;
    padding: 10px 0;
    font-size: 14px;
}
.kumpulan-kategori .widget-body {
    margin: 0px;
}
footer .icon-link a {
    padding: 0px!important;
    background: rgba(1, 87, 155, 0.58);
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 8px 0 8px 9px;
    border-radius: 100%;
    color: rgba(30, 25, 35, 0.84);
}
h2.judul {
    margin: 10px 0;
    padding: 0 0 10px 0;
    line-height: 40px;
    font-weight: bold;
}
p.setelah-judul {
    border-top: 1px solid #eee;
    color: #b8b8b8;
    border-bottom: 1px solid #eee;
    padding: 5px;
}
.widget.kategori ul li a {
    display: block;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
}
.widget.kategori ul {
    margin: -10px;
    padding: 0px;
    list-style: none;
}
.widget.kategori ul li a:hover {
    color: #333;
}
.kumpulan-page a {
    display: inline-block;
    margin: 0 0 0 10px;
    color: #808080;
    float: right;
}
.dalam {
    overflow: hidden;
}
.dalamz img {
    float: left;
    margin: 0 10px 0 0;
}
.dalamz>h2 {
    margin: 0px;
    font-size: 18px;
}
.dalamz {
    background: #fff;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px #D8D8D8;
}
.dalam.banget {
    font-size: 120%;
    line-height: 180%;
}
ol.breadcrumbs li a {
    color: #DE3942;
}
ol.breadcrumbs li:last-child a {
    color: #333;
}
ol.breadcrumbs li {
    display: inline-block;
    margin: 0 5px;
}
ol.breadcrumbs {
    padding: 0px;
    list-style: none;
    margin: 10px 0;
    font-size: 12px;
    display: none;
}
p.cat-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    color: #F3434C;
}
.apk-ul img {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 100px;
}
.app-list {
    overflow: hidden;
}
.apk-ul {
    width: 50%;
    float: left;
}
.apk-ul h4 a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dn-button a {
    display: inline-block;
    background: #338ECF;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}
.dn-button.kotak a {
    border-radius: 0px;
}
.dn-button a:hover {
    background: #2c3e50;
}
.gambar-app {
    max-width: 180px;
    float: left;
    margin: 0 10px 10px 0;
}
h3.title a {
    background: rgba(255, 255, 255, 0.15);
    padding: 7px 10px;
    display: inline-block;
    color: #fff;
    font-size: 19px;
}
h3.title {
    margin: 20px 10px 10px 10px;
    font-size: 22px;
    background: #2087CC;
    box-shadow: 1px 1px 3px #ccc;
    overflow: hidden;
}
h4.head-title {
    font-size: 23px;
    margin: 4px 0 4px 10px;
}
a.hitam {
    background: #666;
}
.pagination>li>a,
.pagination>li>span {
    border-radius: 0!important;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #333;
    cursor: default;
    background-color: #eee;
    border-color: #ccc;
}
.navi {
    background: #fff;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    box-shadow: 5px 0 5px #ccc;
}
.right {
    float: right;
}
.left {
    float: left;
}
.post-list .post-ul {
    width: 50%;
    float: left;
}
.post-ul {
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #FBFBFB;
}
.post-ul img {
    margin: 0 10px 0 0;
    float: left;
}
.apk-ul h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.apk-ul .dalam {
    height: 130px;
}
.apk-ul p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-ul {
    width: 33.33%;
    float: left;
}
.product-ul .dalam {
    padding: 0px;
}
.product-ul .dalam h2 {
    font-size: 17px;
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    font-family: Oswald;
    text-transform: uppercase;
}
.product-ul .dalam {
    padding: 0px;
    border: 1px solid #eee;
    box-shadow: 0 0 1px #eee;
}
.info-dikit {
    padding: 10px;
}
.info-dikit .harga-product {
    float: left;
    font-weight: bold;
    color: #EA0000;
    font-size: 17px;
    padding: 4px 0px;
}
.info-dikit a.beli-product {
    float: right;
    display: inline-block;
    padding: 6px 10px;
    background: #2AA4DF;
    color: #fff;
    margin: 0 0 10px 0;
}
.info-dikit a.beli-product:hover {
    background: #333;
}
.product-list-home {
    overflow: hidden;
    clear: both;
    padding: 10px;
}
.product-ul-home {
    float: left;
    width: 33.33%;
}
.product-ul-home .dalam {
    padding: 0px;
}
.product-ul-home .dalam>a {
    float: left;
    margin: 0 5px 0 0;
}
.product-ul-home .dalam h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
    font-family: Oswald;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.info-dikit-home .harga-product {
    color: #f00;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
}
.info-dikit-home .beli-product {
    display: inline-block;
    padding: 6px 10px;
    background: #2AA4DF;
    color: #fff;
    margin: 5px 0 0 0;
}
.info-dikit-home .beli-product:hover {
    background: #F3434C;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: rgba(255, 255, 255, 0.16);
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border: 1px solid rgba(255, 255, 255, 0.11);
}
.atasnya .form-control {
    color: #fff;
}
.atasnya form {
    position: relative;
}
.atasnya form i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #eee;
}
.atasnya form:hover i {
    color: #FFEB3B;
}
.tanggal-terbit {
    font-size: 11px;
    color: #B1B1B1;
    margin: 0px;
}
.artikel-popular p {
    font-size: 11px;
}
.post-ul .dalam .penerbit {
    position: absolute;
    font-size: 13px;
    bottom: 0px;
    display: none;
}
.post-ul .dalam .penerbit i {
    color: rgba(220, 46, 58, 0.58);
    text-align: center;
    border-radius: 100%;
    margin-right: 4px;
}
h4.title-kecil,
.widget-header h3 {
    padding-bottom: 10px;
    font: 500 20px/1 Roboto, arial, helvetica, sans-serif;
    text-transform: uppercase;
    color: #333;
}
h4.title-kecil a {
    color: #333;
    font-weight: 500;
}
.paling-aneh .widget-body ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.paling-aneh .widget-body {
    padding: 20px 15px;
    background: #F7F7F7;
}
.post-ul .dalam h2 a,
a.pop-title {
    color: #01579B;
}
.dnone {
    display: none;
}
.post-ul .dalam h2 a:hover,
a.pop-title:hover {
    color: #B71C1C;
}
.pagination>li>a,
.pagination>li>span {
    background-color: #01579B;
    color: #fff;
    border-color: rgb(0, 79, 142);
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #fff;
    color: #F44336;
    border-color: rgba(6, 6, 6, 0);
}
header {
    color: #34495E;
    overflow: hidden;
    padding: 10px 0;
}
header form {
    margin: 10px 0;
}
header .right {
    width: 65%;
}
header .left {
    width: 35%;
}
h1.site-title {
    font-size: 36px;
    margin: 15px 15px 0 15px;
    font-weight: bold;
    font-family: Oswald;
}
h1.site-title a {
    color: #333;
    text-transform: uppercase;
}
h1.site-title a:hover {
    color: #CC0018;
}
.clear {
    clear: both;
}
.post-ul .dalam h2,
a.pop-title {
    display: block;
    margin: 0 0 10px 0;
    font: 500 18px/25px Roboto, arial, helvetica, sans-serif;
}
a.pop-title {
    margin: 7px 0 15px 0;
    padding: 7px 0;
    border-bottom: 2px solid #eaeaea;
    display: block;
}
.post-list .dalam p {}.postesthot img {
    width: 100%;
}
nav.atas {
    overflow: hidden;
    margin: 20px 0 10px 0;
    background: #F3434C;
}
nav.atas ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
nav.atas ul li {
    display: block;
    float: left;
}
nav.atas ul li:first-child a {
    background: rgba(0, 0, 0, 0.11);
    color: #fff!important;
}
nav.atas ul li a {
    display: block;
    padding: 12px 15px;
    color: #555;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 15px;
}
nav.atas ul li a:hover,
nav.atas ul li a.actives {
    color: #FF1A35;
    box-shadow: 0px -2px 0 #FF1A35 inset;
}
#atas-wrapper {
    margin-top: 51px;
}
.widget.artikel-popular ul li {
    overflow: hidden;
    margin: 0 0 10px 0;
}
.widget.artikel-popular ul .thumb {
    float: left;
    margin: 0 5px 0 0;
}
.widget.artikel-popular ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.deskripsi-produk {
    margin-left: 210px;
    background: #fff;
    padding: 10px;
    box-shadow: 1px 1px 3px #DEDEDE;
    min-height: 278px;
}
.separator a {
    margin: 0px!important;
}
.dalam.banget img {
    width: 100%;
}
h2.title {
    font-size: 27px;
    color: #DE3942;
}
.deskripsi-dalam {
    font-size: 15px;
}
.share-btn a:hover {
    background: #222;
}
.social-share {
    margin: 10px -10px 10px -10px;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}
.share-btn a {
    display: block;
    background: #333;
    color: #fff;
    margin: 0 10px;
    padding: 7px 10px;
    font-size: 24px;
    border-radius: 3px;
}
.share-btn {
    width: 20%;
    text-align: center;
    display: inline-block;
}
a.fb {
    background: #3d5696;
}
a.twit {
    background: #32a7e0;
}
a.gplus {
    background: #ba3b39;
}
a.imel {
    background: #814465;
}
p.dilihat {
    margin: 5px 0;
    font-size: small;
    color: #ccc;
}
p.link-hot {
    font-size: 17px;
    overflow: hidden;
    font-weight: bold;
}
.related-post .row>div {
    margin-bottom: 10px;
}
.post-emoticon button {
    border: 0px solid #ccc;
    padding: 0px;
    margin: 0px!important;
    display: inline-block;
    background: rgba(129, 68, 101, 0);
    color: #01579B;
    font-weight: bold;
    font-size: 11px;
}
.post-emoticon button i {
    width: 76px;
    height: 76px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}
.post-emoticon {
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
}
.post-emoticon button:hover {
    color: #333;
}
.relatedPost {
    overflow: hidden;
    margin-bottom: 20px;
}
.kategori-atas .widget {
    background: #F7F7F7;
    margin: 0 0 10px 0;
}
.kategori-atas .widget-body {
    margin: 0px;
}
.kategori-atas .widget ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.kategori-atas .widget ul li {
    display: block;
    float: left;
}
.kategori-atas .widget ul li a {
    background: #01579B;
    color: #fff;
    padding: 1px 10px;
    margin: 5px;
    display: block;
    border-radius: 0 3px 3px 0;
}
.kategori-atas .widget ul li a:before {
    content: "\f02c";
    font-family: FontAWesome;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.35);
    display: block;
    float: left;
    padding: 0px 5px;
    margin: 0 10px 0 -10px;
}
.kategori-atas .widget {
    height: 36px;
}
.poster .paling-aneh .widget-body {
    background: transparent;
}
.poster .paling-aneh .widget-body li {
    display: block;
}
@media screen and (max-width: 1199px) {
    .col-sm-4.post-ul {
        width: 50%;
        float: left;
    }
}
@media screen and (max-width: 991px) {
    label#ngehide2 {
        display: block;
        margin-left: 15px;
    }
    nav.atas ul {
        display: none;
        clear: both;
    }
    nav.atas ul li {
        float: none;
    }
    .product-ul-home {
        width: 100%;
        float: none;
    }
    .product-ul-home .dalam h2 {
        text-overflow: inherit;
        white-space: inherit;
    }
    .product-ul {
        width: 50%;
    }
    .atasnya .container .right {
        float: none;
    }
    .atasnya {
        position: inherit;
    }
    #atas-wrapper {
        margin-top: 0px!important;
    }
    .atasnya .left ul li {
        display: none;
    }
    .atasnya .left ul li.title {
        display: block;
    }
}
@media screen and (max-width: 767px) {
    .related-post .row .col-sm-4 {
        width: 50%;
        float: left;
        text-align: center;
    }
    a.thumb img {
        max-width: 150px;
        float: left;
        margin: 0 10px 0 0;
    }
    .paling-aneh li {
        overflow: hidden;
        padding: 0 0 10px 0;
    }
    a.pop-title {
        border-bottom: 0px;
    }
    header .left,
    header .right {
        float: none;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .atasnya .left,
    .atasnya .right {
        float: none;
        text-align: center;
    }
    .icon-link .user-a {
        display: block;
    }
    .related-post {
        margin: 10px 0;
    }
    .deskripsi-produk {
        margin-left: 0px;
    }
    .gambar-product {
        width: 100%;
        float: none;
        text-align: center;
        max-width: 200px;
        margin: 0 auto 10px auto;
    }
}
@media screen and (max-width: 550px) {
    .apk-ul {
        width: 100%;
        float: none;
    }
    .related {
        text-align: center;
        width: 50%;
    }
    .col-sm-4.post-ul {
        width: 100%;
        float: none;
    }
    ol.breadcrumbs {
        margin: 10px 0;
    }
    .dalam {
        margin: 10px 0;
    }
    h3.title {
        margin: 20px 0 10px 0;
    }
    .post-list .post-ul {
        width: 100%;
        float: none;
    }
    .navigasi-post .right,
    .navigasi-post .left {
        width: 100%;
    }
    .navigasi-post .left {
        box-shadow: 0 -1px #eee;
    }
    .navigasi-post {
        margin: 0 0 10px 0;
    }
}
@media screen and (max-width: 400px) {
    .related-post .row .col-sm-4 {
        width: 100%;
    }
    .left,
    .right {
        float: none;
        text-align: center;
        margin: 10px 0;
    }
    .product-ul {
        width: 100%;
        float: none;
    }
    .navi {
        position: inherit;
    }
    body>.container {
        margin-top: 0;
    }
    a.pop-title {
        margin: 0 0 15px 0;
        font-size: 14px;
        line-height: 22px;
    }
    .kumpulan-kategori ul li {
        font-size: 12px;
        margin: 5px 15px 5px 0;
    }
    .gambar-app {
        text-align: center;
        float: none;
        max-width: 100%;
    }
}
@media screen and (max-width: 280px) {
    .apk-ul img {
        max-width: 80px;
    }
    .apk-ul .dn-button {
        display: none;
    }
    .apk-ul .dalam {
        height: auto;
    }
}
