img{
    max-width: 100%;
    height: auto;
}
body{
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}
.left{
    float: left;
}
.right{
    float: right;
}
a{
    color: #51af50;
}
a:hover{
    text-decoration: none;
    color: #409240;
}
.nav-top {
    background: #ffffff;
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
.nav-top a {
    color: #51af50;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
}
.bg-top {
    background: url('../img/cepi.jpg');
    /*min-height: 300px;*/
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-top: 61px;
}
.bg-top .title {
    text-align: center;
    color: #fff;
    margin: 50px 0;
    /*text-shadow: 1px 1px 3px #949494;*/
}
.bg-top .title h2 {
    margin: 0px;
}
.bg-top .title:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0px;
    top: 0px;
}
.bg-top .title *{
    z-index: 9;
    position: relative;
}
.bg-top .title h2{
    font-size: 70px;
    font-weight: bold;
}
.bg-top .title h3{
    font-size: 50px;
    font-weight: bold;
}
.container-medium{
    max-width: 900px;
}
.home-product .product-thumb img {
    width: 100%;
}
.home-product {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    overflow: hidden;
}
.home-product *{
    transition: all 0.4s ease-in-out;
}
.home-product:hover .product-thumb img {
    transform: rotateZ(5deg) scale(1.2);
}
.home-product .product-detail h3 {
    margin: 0px;
    font-size: 14px;
    /*font-weight: bold;*/
    line-height: 18px;
    height: 36px;
    overflow: hidden;
}
.home-product .product-detail h3 a{
    color: #333;
}
.home-product .product-detail {
    padding: 15px;
}
.home-product .product-detail .product-price {
    margin: 10px 0 0 0;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}
.home-product .product-thumb {
    position: relative;
    overflow: hidden;
}
.home-product .product-thumb .melayang {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 9;
}
.home-product .product-thumb .melayang p {
    font-size: 12px;
    margin: 0 0 2px 0;
}
.home-product .product-thumb .melayang p a {
    background: #2196F3;
    padding: 3px 10px;
    color: #fff;
    display: inline-block;
    opacity: 0.75;
}
.home-product:hover .product-thumb .melayang p a{
    opacity: 1;
}
.home-product .tombol-detail {
    display: inline-block;
    font-weight: bold;
    background: #4CAF50;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    right: -10px;
    top: 6px;
}

.home-product .tombol-detail:hover{
    background: #409240;
}
.home-product .garis {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 10px 0;
}
.home-product .lokasi i {
    display: inline-block;
    background: #4caf50;
    color: #fff;
    padding: 4px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 18px;
    font-size: 17px;
    float: left;
    margin-right: 4px;
}
.home-product .lokasi {
    font-size: 13px;
    margin: 15px 0 5px 0;
    display: inline-block;
    color: #4caf50;
    position: relative;
    line-height: 23px;
}
.nav-tabs>li {
    float: inherit;
    display: inline-block;
}
.nav-tabs {
    text-align: center;
    border: 0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-color: #ddd !important;
}
.nav-tabs>li>a {
    background: #4caf50;
    border-radius: 4px;
    color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #3a923d;
    color: #fff;
    border-color: #ddd;
}
.tab-content>.tab-pane {
    padding-top: 20px;
}
.footer-wrapper {
    text-align: center;
    background: #fff;
    padding: 30px 0;
    font-size: 13px;
    border-top: 1px solid #e2e2e2;
}
.center-title h4 {
    font-size: 17px;
    margin: 8px 0 0 0;
}
.center-title h3 {
    margin: 0;
    font-weight: bold;
}
.center-title {
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
}
.content-tengah {
    min-height: 400px;
    margin-top: 15px;
}
.paginat {
    text-align: center;
}
.kotak-putih{
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0;
}
.kotak-putih .dalam{
    padding: 20px;
}
.product-detail {
    color: #666;
    font-size: 15px;
    line-height: 26px;
}
.product-title {
    margin: 0 0 0 0;
    color: #666;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 21px;
    border-bottom: 1px solid #eee;
}
.product-images img {
    width: 100%;
}
.carousel-control.right, .carousel-control.left{
    background: transparent !important;
}
.carousel-inner .item{
    height: 400px;
    background: #eaeaea;
}
.carousel-inner .item img{
    max-height: 400px;
    /*width: auto;*/
}
.kotak-putih .harga {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #51af50;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.detail-penjual p i {
    width: 13px;
    text-align: center;
    color: #51af50;
}
.detail-penjual p {
    margin: 7px 0 0;
    color: #666;
}
.product-detail p {
    margin-bottom: 20px;
}
.desas{
    height: 280px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.desas .bg{
    transition: all 0.4s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url('../img/desa2.jpg');
    background-size: cover;
    background-position: center center;
}
.desas:hover .bg{
    transform: scale(1.1);
}
.nama-desa {
    z-index: 3;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.5) 2%, transparent 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5) 2%, transparent 100%);
    /*background: -webkit-gradient(linear, left bottom, left top, color-stop(2%, rgba(0, 0, 0, 0.5)), to(transparent));*/
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 2%, transparent 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 2%, transparent 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 2%, transparent 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.nama-desa span {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    /* text-transform: uppercase; */
}
.nama-desa .bawah{
    position: absolute;
    bottom: 0px;
    padding: 12px 15px;
}
.nama-desa .bawah p {
    font-size: 13px;
    color: #d8d8d8;
    margin: 0px;
    height: 36px;
    margin-bottom: 4px;
}
.table-putih {
    background: #fff;
    padding: 10px;
    border: 1px solid #eee;
    font-size: 12px;
    margin-bottom: 10px;
}
.table-center th, .table-center td{
    text-align: center;
}
.berwarna {
    background: yellow;
}
.table-putih h3 {
    margin: -10px -10px 10px -10px;
    text-align: center;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    background: #4caf50;
    padding: 8px;
    font-weight: bold;
}
.table-putih th {
    background: #eee;
    vertical-align: middle !important;
}
.table-putih table {
    border: 1px solid #eee;
}

@media screen and (max-width:768px){
  .bg-top .title h2{
    font-size: 50px;
  }
  .bg-top .title h3{
    font-size: 30px;
  }
}
@media print{
  .nav-top, .nav-tabs, .bg-top .title h3, .bg-top, select.form-control, .footer-wrapper{
    display: none;
  }
  .bg-top .title h2{
    font-size: 15px;
  }
}
