.form-group {
    /*overflow: hidden;*/
    clear: both;
}
.table.th-center{
    margin-top: 5px;
}
.table.th-center>thead>tr>th{
    text-align: center;
}
.table.th-center th, .table.th-center td{
    border: 1px solid #ccc !important;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
.table.vertical-top>tbody>tr>td{
    vertical-align: top;
}
.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
}
.thumbnail-box .kotak label {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    line-height: 100px;
    font-size: 30px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    opacity: 0.2;
}
.thumbnail-box .kotak label:hover{
    opacity: 1;
}
.thumbnail-box .kotak input {
    display: none;
}
.thumbnail-box .kotak {
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
    background: #eee;
    float: left;
    margin: 0 10px 10px 0;
    background-size: cover;
    background-position: center center;
}
.thumbnails .hapus {
    position: absolute;
    top: 0px;
    right: 5px;
    z-index: 33;
    cursor: pointer;
    color: #f44;
    font-size: 18px;
}
.desa-thumb {
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: center center;
}
.desa-thumb:hover:before{
    opacity: 1;
}
.desa-thumb:before{
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
}
.desa-thumb label {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-transform: uppercase;
    cursor: pointer;
}
.table-ubah {
    margin-top: 20px;
}
.berwarna {
    background: yellow;
}
